
body{
   background-image: url(./assets/images/ocean_themed_gradient_blur_background_0509.jpg);

    background-size: auto;
}
.container{
    width: auto;
    background-color: aliceblue;
    display: flex;
    position: sticky;
    top:63px;

}
.container1{
    
    background-color: aliceblue;
    text-align: center;
    color: black;
    font-size: 55px;
    position: sticky;
    top: 0px;
}

.bar1{
    background-color: aliceblue;
    color:black;
    text-align: center;
    top: 5px;
    background-color: rgba(214, 255, 228, 0.178);
    display: flex;
 
}
#b1{
    
    margin-left: 0px;
    text-align: start;
    display: inline-block;
    font-size: 25px;
}
#b2{
    margin-left: 20px;
    text-align: start;
    display: inline-flex; 
    font-size: 25px;
}
#b3{
    margin-left: 15px;
    text-align: start;
    display: inline-flex;
    font-size: 25px;
    
}
#b4{
    margin-left: 15px;
    text-align: start;
    display: inline-flex;
    font-size: 25px;
    
}
.art1{
    width: 600px;
    height: 300px;
    background-color: rgba(245, 245, 220, 0.425);
    font-size: 20px;
    text-align: justify;
}
#ar0{
    text-align: center;
 
    display: inline-flex;
}
#ar1{
    text-align: center;
    font-size: 15px;
    display: inline-flex;
}
.art99{
    display: flex;
}
